@model RoomsIndexViewModel

<h2>Rooms</h2>

@foreach(var room in Model.Rooms)
{
    <div>
        <h3>@room.Name</h3>
        <p>@room.Description</p>
        <a asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id">Book now!</a>
    </div>
    
}
